In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('loan_data.csv')
df.head(5)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [3]:
df.columns.unique

<bound method Index.unique of Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')>

In [4]:
categorical_without_order = df[['person_gender','person_home_ownership','loan_intent','previous_loan_defaults_on_file']]
categorical_with_order = df[['person_education']]

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
lbe = LabelEncoder()

In [ ]:
# Here we do not need the LabelEncoder as the labels or the output column is already in the form of integers
# We use the OneHotEncoder for encoding labels with no ordered label values.

ohe = OneHotEncoder(sparse_output=False)

ohe.fit(categorical_without_order)
ohe_encoded = ohe.transform(categorical_without_order)
type(ohe_encoded)

numpy.ndarray

In [ ]:
df1 = pd.DataFrame(ohe_encoded , columns = ohe.get_feature_names_out(['person_gender','person_home_ownership','loan_intent','previous_loan_defaults_on_file']))
df1

,person_gender_female,person_gender_male,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_No,previous_loan_defaults_on_file_Yes
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
44996,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
44997,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44998,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
44999,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# We do drop = 'first' we get k-1 dimension columns 
# We do this cause we need to avoid multi-collinearity between the columns in algorithms like Linear Regression , Logistic Regression , etc.
ohe1 = OneHotEncoder(drop='first',sparse_output=False)
ohe1.fit(categorical_without_order)
ohe_encoded1 = ohe1.transform(categorical_without_order)
type(ohe_encoded1)

df2 = pd.DataFrame(ohe_encoded1 , columns = ohe1.get_feature_names_out(['person_gender','person_home_ownership','loan_intent','previous_loan_defaults_on_file']))
df2

,person_gender_male,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
44995,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
44996,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
44997,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
44998,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
44999,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df['person_education'].unique()

array(['Master', 'High School', 'Bachelor', 'Associate', 'Doctorate'],
      dtype=object)

In [2]:
person_education_order = [ ['High School', 'Bachelor' ,'Master',  'Associate', 'Doctorate'] ]

In [ ]:
oe = OrdinalEncoder( categories=person_education_order )
education_encoded = oe.fit_transform(categorical_with_order)
categorical_with_order,education_encoded

(      person_education
 0               Master
 1          High School
 2          High School
 3             Bachelor
 4               Master
 ...                ...
 44995        Associate
 44996        Associate
 44997        Associate
 44998         Bachelor
 44999      High School

 [45000 rows x 1 columns],
 array([[2.],
        [0.],
        [0.],
        ...,
        [3.],
        [1.],
        [0.]], shape=(45000, 1)))

In [ ]:
education_encoded = pd.DataFrame(education_encoded , columns=['qualification'])
education_encoded

       qualification
0                2.0
1                0.0
2                0.0
3                1.0
4                2.0
...              ...
44995            3.0
44996            3.0
44997            3.0
44998            1.0
44999            0.0

[45000 rows x 1 columns]

In [13]:
df1.shape,df2.shape,education_encoded.shape

((45000, 14), (45000, 10), (45000, 1))

In [ ]:
merged_df = pd.concat([df,df2,education_encoded],axis=1)

In [15]:
merged_df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,...,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes,qualification
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
columns_to_drop = ['person_gender','person_home_ownership','loan_intent','previous_loan_defaults_on_file','person_education']

In [17]:
new_df = merged_df.drop( 
                 columns = columns_to_drop  
                 
)

In [18]:
new_df

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes,qualification
0,22.0,71948.0,0,35000.0,16.02,0.49,3.0,561,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
1,21.0,12282.0,0,1000.0,11.14,0.08,2.0,504,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,25.0,12438.0,3,5500.0,12.87,0.44,3.0,635,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,23.0,79753.0,0,35000.0,15.23,0.44,2.0,675,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,24.0,66135.0,1,35000.0,14.27,0.53,4.0,586,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,47971.0,6,15000.0,15.66,0.31,3.0,645,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
44996,37.0,65800.0,17,9000.0,14.07,0.14,11.0,621,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
44997,33.0,56942.0,7,2771.0,10.02,0.05,10.0,668,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
44998,29.0,33164.0,4,12000.0,13.23,0.36,6.0,604,1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
44999,24.0,51609.0,1,6665.0,17.05,0.13,3.0,628,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   person_age                          45000 non-null  float64
 1   person_income                       45000 non-null  float64
 2   person_emp_exp                      45000 non-null  int64
 3   loan_amnt                           45000 non-null  float64
 4   loan_int_rate                       45000 non-null  float64
 5   loan_percent_income                 45000 non-null  float64
 6   cb_person_cred_hist_length          45000 non-null  float64
 7   credit_score                        45000 non-null  int64
 8   loan_status                         45000 non-null  int64
 9   person_gender_male                  45000 non-null  float64
 10  person_home_ownership_OTHER         45000 non-null  float64
 11  person_home_ownership_OWN           45000 non-null  float64
 12  person_home_ownership_RENT          45000 non-null  float64
 13  loan_intent_EDUCATION               45000 non-null  float64
 14  loan_intent_HOMEIMPROVEMENT         45000 non-null  float64
 15  loan_intent_MEDICAL                 45000 non-null  float64
 16  loan_intent_PERSONAL                45000 non-null  float64
 17  loan_intent_VENTURE                 45000 non-null  float64
 18  previous_loan_defaults_on_file_Yes  45000 non-null  float64
 19  qualification                       45000 non-null  float64
dtypes: float64(17), int64(3)
memory usage: 6.9 MB

### Now we will see how this can be simplified by ColumnTransformer

In [ ]:
from sklearn.compose import ColumnTransformer
# The value accepted by the tranformers list is a tuple with the transfromation being took place .

In [ ]:
#           Genreal Transformer format : [
#                                          ( 'name_of_the_transformation , Transformer_object(params), object_passed ) ,
#                                              remainder = 'passthrough'
#                                           ]
ct = ColumnTransformer(
                        transformers = [
                                         ( 'ohe_nominal' , OneHotEncoder(drop='first') , categorical_without_order ),
                                         (  'ord_edu' , OrdinalEncoder(categories = person_education_order) , categorical_with_order ),
                                         ('pass_num', 'passthrough', 
                                            [col for col in df.columns if col not in (categorical_without_order + categorical_with_order) ])
                        ]
)

In [44]:
df_transformed = ct.fit_transform(df)
df_transformed

array([[  0.,   0.,   0., ...,   3., 561.,   1.],
       [  0.,   0.,   1., ...,   2., 504.,   0.],
       [  0.,   0.,   0., ...,   3., 635.,   1.],
       ...,
       [  1.,   0.,   0., ...,  10., 668.,   1.],
       [  1.,   0.,   0., ...,   6., 604.,   1.],
       [  1.,   0.,   0., ...,   3., 628.,   1.]], shape=(45000, 20))

In [45]:
final_df = pd.DataFrame( df_transformed , columns = ct.get_feature_names_out())

In [48]:
final_df.shape

(45000, 20)

In [49]:
final_df.head()

,ohe_nominal__person_gender_male,ohe_nominal__person_home_ownership_OTHER,ohe_nominal__person_home_ownership_OWN,ohe_nominal__person_home_ownership_RENT,ohe_nominal__loan_intent_EDUCATION,ohe_nominal__loan_intent_HOMEIMPROVEMENT,ohe_nominal__loan_intent_MEDICAL,ohe_nominal__loan_intent_PERSONAL,ohe_nominal__loan_intent_VENTURE,ohe_nominal__previous_loan_defaults_on_file_Yes,ord_edu__person_education,pass_num__person_age,pass_num__person_income,pass_num__person_emp_exp,pass_num__loan_amnt,pass_num__loan_int_rate,pass_num__loan_percent_income,pass_num__cb_person_cred_hist_length,pass_num__credit_score,pass_num__loan_status
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,22.0,71948.0,0.0,35000.0,16.02,0.49,3.0,561.0,1.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,21.0,12282.0,0.0,1000.0,11.14,0.08,2.0,504.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,25.0,12438.0,3.0,5500.0,12.87,0.44,3.0,635.0,1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,23.0,79753.0,0.0,35000.0,15.23,0.44,2.0,675.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,24.0,66135.0,1.0,35000.0,14.27,0.53,4.0,586.0,1.0

In [52]:
df.shape

(45000, 14)

In [53]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

### Now we will do Pipeling in cases where we have multiple transformers to fit in , and this will help us reduce workload a lot .