In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('zoo.csv')

In [3]:
df

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [5]:
df.describe()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,0.425743,0.198020,0.584158,0.405941,0.237624,0.356436,0.554455,0.603960,0.821782,0.792079,0.079208,0.168317,2.841584,0.742574,0.128713,0.435644,2.831683
std,0.496921,0.400495,0.495325,0.493522,0.427750,0.481335,0.499505,0.491512,0.384605,0.407844,0.271410,0.376013,2.033385,0.439397,0.336552,0.498314,2.102709
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,2.000000
75%,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000,1.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,1.000000,1.000000,1.000000,7.000000

In [ ]:
for x in df.columns:
    print(f'Name : {x}')
    print(f'Size : {df[x].unique().size}')
    print(f'Unique values of the column : ')
    if x == 'animal_name': #str columns
        print(df[x].unique())
    else:

        print(df[x].unique())
    print()

Name : animal_name
Size : 100
Unique values of the column :
['aardvark' 'antelope' 'bass' 'bear' 'boar' 'buffalo' 'calf' 'carp'
 'catfish' 'cavy' 'cheetah' 'chicken' 'chub' 'clam' 'crab' 'crayfish'
 'crow' 'deer' 'dogfish' 'dolphin' 'dove' 'duck' 'elephant' 'flamingo'
 'flea' 'frog' 'fruitbat' 'giraffe' 'girl' 'gnat' 'goat' 'gorilla' 'gull'
 'haddock' 'hamster' 'hare' 'hawk' 'herring' 'honeybee' 'housefly' 'kiwi'
 'ladybird' 'lark' 'leopard' 'lion' 'lobster' 'lynx' 'mink' 'mole'
 'mongoose' 'moth' 'newt' 'octopus' 'opossum' 'oryx' 'ostrich' 'parakeet'
 'penguin' 'pheasant' 'pike' 'piranha' 'pitviper' 'platypus' 'polecat'
 'pony' 'porpoise' 'puma' 'pussycat' 'raccoon' 'reindeer' 'rhea'
 'scorpion' 'seahorse' 'seal' 'sealion' 'seasnake' 'seawasp' 'skimmer'
 'skua' 'slowworm' 'slug' 'sole' 'sparrow' 'squirrel' 'starfish'
 'stingray' 'swan' 'termite' 'toad' 'tortoise' 'tuatara' 'tuna' 'vampire'
 'vole' 'vulture' 'wallaby' 'wasp' 'wolf' 'worm' 'wren']

Name : hair
Size : 2
Unique values of the column :
[1 0]

Name : feathers
Size : 2
Unique values of the column :
[0 1]

Name : eggs
Size : 2
Unique values of the column :
[0 1]

Name : milk
Size : 2
Unique values of the column :
[1 0]

Name : airborne
Size : 2
Unique values of the column :
[0 1]

Name : aquatic
Size : 2
Unique values of the column :
[0 1]

Name : predator
Size : 2
Unique values of the column :
[1 0]

Name : toothed
Size : 2
Unique values of the column :
[1 0]

Name : backbone
Size : 2
Unique values of the column :
[1 0]

Name : breathes
Size : 2
Unique values of the column :
[1 0]

Name : venomous
Size : 2
Unique values of the column :
[0 1]

Name : fins
Size : 2
Unique values of the column :
[0 1]

Name : legs
Size : 6
Unique values of the column :
[4 0 2 6 8 5]

Name : tail
Size : 2
Unique values of the column :
[0 1]

Name : domestic
Size : 2
Unique values of the column :
[0 1]

Name : catsize
Size : 2
Unique values of the column :
[1 0]

Name : class_type
Size : 7
Unique values of the column :
[1 4 2 7 6 5 3]

In [44]:
X = df.drop(columns = ['animal_name' , 'class_type'])
y = df['class_type']

In [49]:
from sklearn.model_selection import train_test_split,cross_val_score

In [46]:
X_train , X_test , y_train , y_test = train_test_split( X , y , test_size = 0.2 , random_state = 42)

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [63]:
lor = LogisticRegression(max_iter=5000)
lor.fit(X_train,y_train)
y_pred = lor.predict(X_test)
print(f'Cross Val Score : {cross_val_score(lor,X,y,cv=4).mean()}')

Cross Val Score : 0.9303846153846154

In [87]:
for i in [ 0.01 , 0.001 , 0.1 , 0.2 , 0.5 , 0.02]:
    lor = LogisticRegression(max_iter=5000)
    lor.fit(X_train,y_train)
    y_pred = lor.predict(X_test)
    print(f'Cross Val Score : {cross_val_score(lor,X,y,cv=4).mean()}')

Cross Val Score : 0.9303846153846154
Cross Val Score : 0.9303846153846154
Cross Val Score : 0.9303846153846154
Cross Val Score : 0.9303846153846154
Cross Val Score : 0.9303846153846154
Cross Val Score : 0.9303846153846154