In [33]:
import pandas as pd
import re 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv('Ecommerce Customers.csv')

In [35]:
df

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [36]:
def email(x):
    x = x.strip('.com')
    return x

In [37]:
df['Email'].apply(email)

0          stephenson@fernandez
1                 hduke@hotmail
2                    pallen@yah
3           riverarebecca@gmail
4      stephens@davidson-herman
                 ...
495    lewisjessica@craig-evans
496             katrina56@gmail
497              dale88@hotmail
498              wilson@hotmail
499       hannahwilson@davidson
Name: Email, Length: 500, dtype: object

In [38]:
df['Email'].str.split('@').str[0]

0        mstephenson
1              hduke
2             pallen
3      riverarebecca
4          mstephens
           ...
495     lewisjessica
496        katrina56
497           dale88
498          cwilson
499     hannahwilson
Name: Email, Length: 500, dtype: object

In [ ]:
df['Address'].sample(5)
# street code street \nCity , State code SPACE Zipcode

368            939 Watson Run\nStaceyberg, VT 58376-0454
333    4835 Jessica Walk Suite 205\nWest Jacob, NH 93681
13      05302 Dunlap Ferry\nNew Stephaniehaven, MP 42268
83                       USCGC Thomas\nFPO AP 43708-2468
246     61629 Johnson Underpass\nNew Eric, MI 92352-5044
Name: Address, dtype: object

In [72]:
df['Address'].apply(
                    lambda x : re.findall(r'(?<=\n)(.+?)(?=,)',x)
                )

0           [Wrightmouth]
1           [Diazchester]
2           [Cobbborough]
3            [Port Jason]
4       [Port Jacobville]
              ...
495      [Lake Jamiefurt]
496        [West Richard]
497     [South Chadburgh]
498       [Brendachester]
499    [East Drewborough]
Name: Address, Length: 500, dtype: object

In [75]:
df['Address'].str.extract(
                            r'\n(?P<City>.*?),'
)

                 City
0         Wrightmouth
1         Diazchester
2         Cobbborough
3          Port Jason
4     Port Jacobville
..                ...
495    Lake Jamiefurt
496      West Richard
497   South Chadburgh
498     Brendachester
499  East Drewborough

[500 rows x 1 columns]

In [77]:
df['Address'].sample(5)

438                Unit 1475 Box 4215\nDPO AE 39546-5591
231    1768 Rosales Ford Apt. 793\nLake Markbury, SC ...
44                        USNV Fuller\nFPO AE 32122-5711
175       6058 Thomas Divide\nMatthewland, PA 89442-8198
11                 Unit 2413 Box 0347\nDPO AA 07580-2652
Name: Address, dtype: object

In [ ]:
df['Address'].str.extract(
                            r',\s(?P<State>.*?)\s'
)

    State
0      MI
1      CA
2      DC
3      OH
4      PR
..    ...
495    UT
496    CA
497    TN
498    TX
499    OR

[500 rows x 1 columns]

In [83]:
df['Address'].str.extract(
                            r',\s[A-Za-z]{2}(?P<ZipCode>.*?)\s'
)

    ZipCode
0
1
2
3
4
..      ...
495
496
497
498
499

[500 rows x 1 columns]