In [3]:
import pandas as pd
import re 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Ecommerce Customers.csv')

In [5]:
df

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [6]:
def email(x):
    x = x.strip('.com')
    return x

In [7]:
df['Email'].apply(email)

0          stephenson@fernandez
1                 hduke@hotmail
2                    pallen@yah
3           riverarebecca@gmail
4      stephens@davidson-herman
                 ...
495    lewisjessica@craig-evans
496             katrina56@gmail
497              dale88@hotmail
498              wilson@hotmail
499       hannahwilson@davidson
Name: Email, Length: 500, dtype: object

In [8]:
df['Email'].str.split('@').str[0]

0        mstephenson
1              hduke
2             pallen
3      riverarebecca
4          mstephens
           ...
495     lewisjessica
496        katrina56
497           dale88
498          cwilson
499     hannahwilson
Name: Email, Length: 500, dtype: object

In [9]:
df['Address'].sample(5)
# street code street \nCity , State code SPACE Zipcode

65      223 Love Trail Suite 831\nPort Jeffrey, IN 46849
42     18372 Matthew Fork Suite 705\nNorth Matthewmou...
43     69403 Hernandez Knolls\nMarciashire, DE 36417-...
467    845 Colleen Ways\nLake Matthewview, VT 65340-3159
165           75805 Larry Mills\nEast Cristian, MH 53820
Name: Address, dtype: object

In [10]:
df['Address'].apply(
                    lambda x : re.findall(r'(?<=\n)(.+?)(?=,)',x)
                )

0           [Wrightmouth]
1           [Diazchester]
2           [Cobbborough]
3            [Port Jason]
4       [Port Jacobville]
              ...
495      [Lake Jamiefurt]
496        [West Richard]
497     [South Chadburgh]
498       [Brendachester]
499    [East Drewborough]
Name: Address, Length: 500, dtype: object

In [11]:
df['Address'].str.extract(
                            r'\n(?P<City>.*?),'
)

                 City
0         Wrightmouth
1         Diazchester
2         Cobbborough
3          Port Jason
4     Port Jacobville
..                ...
495    Lake Jamiefurt
496      West Richard
497   South Chadburgh
498     Brendachester
499  East Drewborough

[500 rows x 1 columns]

In [12]:
df['Address'].sample(5)

487      6820 Erica Vista Apt. 418\nBrightside, IA 50639
344             407 Blake Ways\nPort Davidland, WA 78438
435       257 Hunt Manors\nSouth Charlottefort, CT 15033
163                      USCGC Dodson\nFPO AA 87781-3935
265    634 Nancy Shoals Suite 241\nSouth Barry, AR 52307
Name: Address, dtype: object

In [13]:
df['Address'].str.extract(
                            r',\s(?P<State>.*?)\s'
)

    State
0      MI
1      CA
2      DC
3      OH
4      PR
..    ...
495    UT
496    CA
497    TN
498    TX
499    OR

[500 rows x 1 columns]

In [14]:
df['Address'].sample(5)

241    81814 Pratt Squares Suite 460\nNorth Robert, G...
322              229 Eric Mountains\nNew Caleb, PA 00396
497    0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...
366     9863 Dawn Court Suite 429\nLake Connie, MI 12238
228    40288 Stephens Corner Apt. 221\nWest Stephanie...
Name: Address, dtype: object

In [15]:
df['Address'].str.extract(
                            r',\s[A-Za-z]{2}\s(?P<ZipCode>.*?)$'
)

        ZipCode
0    82180-9605
1    06566-8576
2    99414-7564
3    22070-1220
4    37242-1057
..          ...
495       75292
496       19320
497       56128
498  05000-5873
499  55919-9528

[500 rows x 1 columns]

In [16]:
df['Address'].str.extract(
                            r'(?P<StreetCode>\d.+?)\s'
)

    StreetCode
0          835
1         4547
2        24645
3         1414
4        14023
..         ...
495       4483
496        172
497       0787
498        680
499      49791

[500 rows x 1 columns]

In [17]:
df['Address'].str.extract(
                            r'(?P<StreetAddress>.+?)\n'
)

                      StreetAddress
0                  835 Frank Tunnel
1                4547 Archer Common
2    24645 Valerie Unions Suite 582
3             1414 David Throughway
4           14023 Rodriguez Passage
..                              ...
495   4483 Jones Motorway Suite 872
496       172 Owen Divide Suite 497
497     0787 Andrews Ranch Apt. 633
498     680 Jennifer Lodge Apt. 808
499   49791 Rachel Heights Apt. 898

[500 rows x 1 columns]

In [18]:
# Now working on a dirtier dataset

In [19]:
df = pd.read_csv('synthetic_text_cleaning_realworld.csv')

In [21]:
df.head()

,id,user_id,username,email,phone_number,tweet_text,post_text,comment_text,review_text,bio_text,...,product_description,advertisement_text,song_lyrics,movie_script,news_snippet,blog_text,story_text,job_description,company_profile,misc_text
0,1,Download now >>> free link http://spam.com,Data cleaning is very IMPORTANT.....,Check this out >>> https://openai.com,U r the best!! btw I'll c u 2morrow ðŸ˜‰,Data cleaning is very IMPORTANT.....,Email me at test_user123@gmail.com asap!!!,U r the best!! btw I'll c u 2morrow ðŸ˜‰,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Download now >>> free link http://spam.com,...,Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚,Breaking news!!!! #AI #NLP @research,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Download now >>> free link http://spam.com,RT @someone: This is a RETWEET with #hashtag,Breaking news!!!! #AI #NLP @research,Download now >>> free link http://spam.com,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Breaking news!!!! #AI #NLP @research,Download now >>> free link http://spam.com
1,2,Stopwords should be removed from this text in ...,Check this out >>> https://openai.com,Email me at test_user123@gmail.com asap!!!,"Working on NLP??? It's fun, isn't it???",CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚,Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚,123456789 Numbers should be removed!!!,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,...,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,123456789 Numbers should be removed!!!,This TEXT has MULTIPLE spaces and --- dash...,U r the best!! btw I'll c u 2morrow ðŸ˜‰,Email me at test_user123@gmail.com asap!!!,Check this out >>> https://openai.com,U r the best!! btw I'll c u 2morrow ðŸ˜‰,Check this out >>> https://openai.com,123456789 Numbers should be removed!!!,<p>Python is GREAT!!!</p> Visit http://example...
2,3,Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚,Stopwords should be removed from this text in ...,Email me at test_user123@gmail.com asap!!!,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Breaking news!!!! #AI #NLP @research,Email me at test_user123@gmail.com asap!!!,Data cleaning is very IMPORTANT.....,Check this out >>> https://openai.com,Hello!!! This is a SAMPLE text ðŸ˜Š.,...,Breaking news!!!! #AI #NLP @research,"Working on NLP??? It's fun, isn't it???",U r the best!! btw I'll c u 2morrow ðŸ˜‰,This TEXT has MULTIPLE spaces and --- dash...,RT @someone: This is a RETWEET with #hashtag,Download now >>> free link http://spam.com,Stopwords should be removed from this text in ...,Hello!!! This is a SAMPLE text ðŸ˜Š.,123456789 Numbers should be removed!!!,123456789 Numbers should be removed!!!
3,4,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Data cleaning is very IMPORTANT.....,U r the best!! btw I'll c u 2morrow ðŸ˜‰,Stopwords should be removed from this text in ...,U r the best!! btw I'll c u 2morrow ðŸ˜‰,Data cleaning is very IMPORTANT.....,Data cleaning is very IMPORTANT.....,This TEXT has MULTIPLE spaces and --- dash...,Email me at test_user123@gmail.com asap!!!,...,Breaking news!!!! #AI #NLP @research,Stopwords should be removed from this text in ...,This TEXT has MULTIPLE spaces and --- dash...,<p>Python is GREAT!!!</p> Visit http://example...,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Breaking news!!!! #AI #NLP @research,123456789 Numbers should be removed!!!,Email me at test_user123@gmail.com asap!!!,Download now >>> free link http://spam.com
4,5,This TEXT has MULTIPLE spaces and --- dash...,This TEXT has MULTIPLE spaces and --- dash...,Check this out >>> https://openai.com,"Working on NLP??? It's fun, isn't it???",123456789 Numbers should be removed!!!,Hello!!! This is a SAMPLE text ðŸ˜Š.,U r the best!! btw I'll c u 2morrow ðŸ˜‰,U r the best!! btw I'll c u 2morrow ðŸ˜‰,Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚,...,Email me at test_user123@gmail.com asap!!!,This TEXT has MULTIPLE spaces and --- dash...,Check this out >>> https://openai.com,Hello!!! This is a SAMPLE text ðŸ˜Š.,Check this out >>> https://openai.com,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$,Check this out >>> https://openai.com,Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚,U r the best!! btw I'll c u 2morrow ðŸ˜‰,CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2000 non-null   int64
 1   user_id              2000 non-null   object
 2   username             2000 non-null   object
 3   email                2000 non-null   object
 4   phone_number         2000 non-null   object
 5   tweet_text           2000 non-null   object
 6   post_text            2000 non-null   object
 7   comment_text         2000 non-null   object
 8   review_text          2000 non-null   object
 9   bio_text             2000 non-null   object
 10  headline             2000 non-null   object
 11  article_text         2000 non-null   object
 12  message_text         2000 non-null   object
 13  chat_text            2000 non-null   object
 14  status_text          2000 non-null   object
 15  caption_text         2000 non-null   object
 16  forum_post           2000 non-null   object
 17  question_text        2000 non-null   object
 18  answer_text          2000 non-null   object
 19  feedback_text        2000 non-null   object
 20  product_description  2000 non-null   object
 21  advertisement_text   2000 non-null   object
 22  song_lyrics          2000 non-null   object
 23  movie_script         2000 non-null   object
 24  news_snippet         2000 non-null   object
 25  blog_text            2000 non-null   object
 26  story_text           2000 non-null   object
 27  job_description      2000 non-null   object
 28  company_profile      2000 non-null   object
 29  misc_text            2000 non-null   object
dtypes: int64(1), object(29)
memory usage: 468.9+ KB

In [32]:
df.isnull().sum().mean()

np.float64(0.0)

In [ ]:
df['user_id'].unique()

array(['Download now >>> free link http://spam.com',
       'Stopwords should be removed from this text in the end',
       'Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚',
       'CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$',
       'This TEXT has MULTIPLE     spaces and --- dashes!!!',
       '123456789 Numbers should be removed!!!',
       'Data cleaning   is      very    IMPORTANT.....',
       'Breaking news!!!! #AI #NLP @research',
       "U r the best!! btw I'll c u 2morrow ðŸ˜‰",
       'Hello!!! This is a SAMPLE text ðŸ˜Š.',
       '<p>Python is GREAT!!!</p> Visit http://example.com now!!!',
       "Working on NLP??? It's fun, isn't it???",
       'Email me at test_user123@gmail.com asap!!!',
       'Check this out >>> https://openai.com',
       'RT @someone: This is a RETWEET with #hashtag'], dtype=object)

In [45]:
df['username'].unique()

array(['Data cleaning   is      very    IMPORTANT.....',
       'Check this out >>> https://openai.com',
       'Stopwords should be removed from this text in the end',
       'This TEXT has MULTIPLE     spaces and --- dashes!!!',
       '123456789 Numbers should be removed!!!',
       'RT @someone: This is a RETWEET with #hashtag',
       "Working on NLP??? It's fun, isn't it???",
       'Heeeyyy broooo wassuppp??? ðŸ˜‚ðŸ˜‚ðŸ˜‚',
       'Breaking news!!!! #AI #NLP @research',
       "U r the best!! btw I'll c u 2morrow ðŸ˜‰",
       'Email me at test_user123@gmail.com asap!!!',
       'CafÃ© MÃ¼nchen is beautÃ¯ful but costly $$$',
       '<p>Python is GREAT!!!</p> Visit http://example.com now!!!',
       'Hello!!! This is a SAMPLE text ðŸ˜Š.',
       'Download now >>> free link http://spam.com'], dtype=object)

In [46]:
# Data is rigged